$header-border-color: #bebebe;

header
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 1px solid $header-border-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .game-name
{
  font-weight: 700;
  font-size: 2rem;
}

header .game-instructions img,
header .game-settings img
{
  width: 25px;
}

header .game-instructions img:hover,
header .game-settings img:hover
{
  opacity: 0.5;
}