$header-border-color: #bebebe;

header
{
  display: flex;
  align-items: center;
  justify-content: center;
  
  border-bottom: 1px solid $header-border-color;
  padding-top: 10px;
  padding-bottom: 10px;
}

header .game-name
{
  font-weight: 700;
  font-size: 2rem;
}

header .game-difficulty
{
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

